/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.strip {
  margin-top: -20px;
  margin-bottom: -20px;
}

.strip:hover {
  background-color: #ededed;
}

.banner {

}
